.container{
  min-height: 788px;
}
.footer {
	background-color: #fff
}

.footer .copyright {
	padding: 1.5rem;
	background: #fff
}

.footer .copyright p {
	text-align: center;
	margin: 0;
	color: #898989
}

.footer .copyright a {
	color: #3A7CB5
}
